.landing-container {
    height: 100vh;
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.hero{
    text-align: center;
    max-width: 650px;

}

.hero h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 18px;
  letter-spacing: 0.7px;

  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1.4s ease-in forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.hero p{
    opacity: 0.7;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.6;

}

.hero button{
    padding: 14px 34px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg,#6366f1,#06b6d4);
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: all 0.3s ease;
    font-weight: 600;

}

.hero button:hover{
    box-shadow: 0 0 25px rgba(99, 103, 241, 0.6);
    transform: scale(1.07);
}

.preview-box {
  margin-top: 60px;
  background: rgba(2, 6, 23, 0.7);
  border-radius: 22px;
  padding: 25px;
  width: 360px;

  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 0 40px rgba(99,120,241,0.3);

  margin-left: auto;
  margin-right: auto; /* centers properly */
}


.chat-message{
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 80%;

}

.bot{
    background: #1e293b;

}

.user{
    background: #6366f1;
    margin-left: auto;

}