.landing-container {
    height: 100vh;
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero{
    text-align: center;
    max-width: 600px;

}

.hero h1{
    font-size: 24px;
    margin-bottom: 15px;

}

.hero p{
    opacity: 0.7;
    margin-bottom: 25px;
}

.hero button{
    padding: 12px 28px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg,#6366f1,#06b6d4);
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;

}

.hero button:hover{
    transform: scale(1.05);
}

.preview-box{
    margin-top: 50px;
    background: #020617;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 30px rgba(99,120,241,0.4);

}

.chat-message{
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 80%;

}

.bot{
    background: #1e293b;

}

.user{
    background: #6366f1;
    margin-left: auto;
    
}