body {
  margin: 0;
  background: rgba(0, 0, 0, 0.886);
  font-family: 'Segoe UI',  sans-serif;
}

.container{
  width: 420px;
  margin: 40px auto;
  padding: 20px;
  background: #ffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);

}

.container h2{
  text-align: center;
  margin-bottom: 15px;

}

.chat-box{
  height: 420px;
  overflow-y: auto;
  padding: 15px;
  background: #f9fafb;
  border: 1px solid #b7babe;
  border-radius: 15px;
  margin-top: 15px;

}

.chat-box div{
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 18px;
  max-width: 75%;
  word-wrap: break-word;
  font-size: 14px;

}

.user{
  background: #2563eb;
  color: wheat;
  margin-right: auto;

}

.bot{
  background: green;
  color: wheat;
  margin-right: auto;

}

.input-area{
  display: flex;
  gap: 10px;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.3s ease;
}

.input-area input{
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;

}


.container:hover .input-area{
  opacity: 1;
  transform: translateY(0);

}


input{
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  margin-top: 14px;
  margin-left: 12px;

}
input-wrapper{
  position: relative;
}


button{
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: rgb(251, 72, 72);
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-left: 14px;

}

button:hover{
  transition: 177ms;
  background: #1d4ed8;
}